:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: calc(100dvh - 4rem);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  color: white;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 0.5em;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 600px) {
  button {
    margin-bottom: 0.5em;
  }
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
}

caption {
  display: flex;
  align-items: center;
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: rgb(228 240 245);
}

thead tr,
tfoot tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody {
  display: block;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  transition: all 0.5s ease-in-out;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.col-position {
  width: 60px;
  text-align: center;
}

.col-name {
  text-align: left;
}
.col-name img {
  margin-right: 10px;
}

/* Gold */
tbody tr:nth-child(1) {background: gold;}
/* Silver */
tbody tr:nth-child(2) {background: #c0c0c0;}
/* Bronze */
tbody tr:nth-child(3) {background: #cd7f32;}

td:last-of-type {
  text-align: center;
}

/* tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
} */

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}


